* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* removes default paddings and margins */
    font-family: sans-serif;
}
/* vw and vh represent a percentage of the viewport's width and height */

@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}

.logo-name {
    font-family: 'Norse-Bold', sans-serif;
    color: white;
    font-size: 5rem;
}
.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* so main takes up the entire screen with both height and width */
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 60vh;
    background-image: url(./images/bgimage.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    /* prevents tiling */
    background-size: cover;
    /* makes the background cover the entire image container and may be cropped a little to fit */
}


.full-logo {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20vh;
    

}

.full-logo img {
    width: 15%;
    height: auto;
}

.photo-cred {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: bolder;
}

.message-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 65vw;
    height: auto;
    background-color: aliceblue;
    padding-top: 8%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    background-color: white;
    padding-left: 5%;
    padding-top: 5vh;
    padding-bottom: 5vh;

}


button {
    display: flex;
    justify-content: center;
    background-color: #596D48;
    border: 1px solid #596D48;
    color: white;
    font-weight: bolder;
    width: 20%;
    height: 5%;
    padding: 2vh 3vw;
    border-radius: 10px;
}
button:hover {
    cursor: pointer;
}

.create-account-section {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 4.35%;
    background-color: rgb(248, 248, 248);
    /* background-color: red; */
}

.form-main-div {
    display: flex;
    gap: 10vw;
}

.form-div {
    margin-bottom: 2vh;
}

input[type="text"], input[type="tel"], input[type="email"] {
    appearance: none;
}

.form-div label {
    display: block;
    margin-bottom: 0.5rem;
}

/* Block-Level Elements: Elements with display: 
block (like <div>, <p>, <h1>, etc.) 
take up the full width of their parent container. 
They start on a new line and have space above and below them. */

.form-div input {
    display: block;
    width: 100%;
}

.form-div input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:invalid {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

input:focus:invalid {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.login-request {
    display: flex;
    gap: 1vw;
}

.login-request a {
    color: #596D48;
    font-weight: bolder;
    text-decoration: none;
}